<nav
  mat-tab-nav-bar
  backgroundColor="warn"
  [tabPanel]="tabPanel"
  style="margin: 16px 0;"
>
  <a mat-tab-link routerLink="my-surveys" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My Surveys</a>
  <a mat-tab-link routerLink="my-surveys/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create Survey</a>
  <a mat-tab-link routerLink="taken-surveys" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Taken Surveys</a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
