table {
  width: 100%;
}

tr.question-options {
  height: 0;
}

.question-options td {
  border-bottom-width: 0;
}

.question-options td {
  border-bottom-width: 0;
}

.question-options-details {
  overflow: hidden;
  display: flex;
}
