<form
  style="padding-bottom: 16px"
  *ngIf="survey && form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <app-save-survey-form></app-save-survey-form>
  <button
    type="submit"
    mat-raised-button color="primary"
  >Update Survey</button>
  &nbsp;&nbsp;
  <button
    type="button"
    mat-raised-button color="accent"
    *ngIf="survey.status === 'unpublished'"
  >Publish Survey</button>
</form>
<div style="padding-bottom: 16px;" *ngIf="survey">
  <h1>Questions:</h1>
  <hr>
  <button
    type="button"
    mat-raised-button color="accent"
    (click)="addQuestion()"
  >Add New Question</button>
</div>
