/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @media (min-width: 600px) {
    max-width: 540px;
  }

  @media (min-width: 960px) {
    max-width: 900px;
  }

  @media (min-width: 1280px) {
    max-width: 1200px;
  }
}
